// font 
$font-stack: 'Kumbh Sans', sans-serif;;
$font-weight-regular: 400;
$font-weight-bold: 700;

// colors
$color-orange: hsl(26, 100%, 55%);
$color-lightorange: hsl(25, 100%, 94%);
$color-verydarkgrey: hsl(220, 13%, 13%);
$color-darkgrey: hsl(219, 9%, 45%);
$color-grey: hsl(220, 14%, 75%);
$color-lightgrey: hsl(223, 64%, 98%);
$color-blue: hsl(228, 45%, 44%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);